body {
  background-color: #333;
}

.menu {
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 70vw;
  height: 20vh;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: royalblue;
}

.menu-btn {
  width: 15vh;
  height: 10vh;
  margin: 0 10px;
  background-color: blanchedalmond;
}

img {
  width: 5vh;
  height: 5vh;
  /* pointer-events: none; */
}

span {
  /* pointer-events: none; */
}
